<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>optionalFeatures</key>
    <dict>
      <key>acceptableApplicationBundleIDs</key>
      <array>
        <string>us.zoom.xos</string>
        <string>com.islonline.isllight.launch</string>
        <string>com.microsoft.teams2</string>
        <string>com.mersive.solstice.client</string>
        <string>com.microsoft.Powerpoint</string>
        <string>Cisco-Systems.Spark</string>
        <string>com.apple.FaceTime</string>
      </array>
      <key>acceptableCameraUsage</key>
      <true/>
      <key>acceptableUpdatePreparingUsage</key>
      <true/>
      <key>acceptableScreenSharingUsage</key>
      <true/>
      <key>aggressiveUserFullScreenExperience</key>
      <true/>
      <key>honorFocusModes</key>
      <true/>
    </dict>
    <key>osVersionRequirements</key>
    <array>
      <dict>
        <key>requiredInstallationDate</key>
        <string>2025-11-30T10:28:00Z</string>
        <key>requiredMinimumOSVersion</key>
        <string>14.8</string>
      </dict>
    </array>
    <key>userExperience</key>
    <dict>
      <key>allowedDeferrals</key>
      <integer>7</integer>
    </dict>
    <key>userInterface</key>
    <dict>
      <key>showDeferralCount</key>
      <true/>
      <key>showRequiredDate</key>
      <true/>
    </dict>
  </dict>
</plist>