<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- https://support.zoom.us/hc/en-us/articles/115001799006-Mass-deployment-with-preconfigured-settings-for-Mac#h_01FW2JNZ5G0B85YSB27VSVP2JQ /-->
<plist version="1.0">
    <dict>
        <key>ZAutoUpdate</key>
        <integer>1</integer>
        <key>SetUpdatingChannel</key>
        <integer>0</integer>
        <key>DisableDaemonInstall</key>
        <integer>1</integer>
        <key>ForceLoginWithSSO</key>
        <integer>0</integer>
        <key>DisableKeepSignedInWithSSO</key>
        <integer>0</integer>
        <key>zAutoSSOLogin</key>
        <integer>1</integer>
        <key>zSSOHost</key>
        <string>ethz</string>
        <key>ZAutoSSOLogin</key>
        <integer>0</integer>
        <key>ZSSOHost</key>
        <string>ethz.zoom.us</string>
        <key>KeepSignedIn</key>
        <integer>1</integer>
        <key>NoFacebook</key>
        <integer>1</integer>
        <key>NoGoogle</key>
        <integer>1</integer>
        <key>EnableAppleLogin</key>
        <integer>0</integer>
        <key>DisableUserSignUp</key>
        <integer>1</integer>
    </dict>
</plist>