<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RelaunchNotification</key>
	<integer>2</integer>
	<key>RelaunchNotificationPeriod</key>
	<integer>345600000</integer>
	<key>RelaunchWindow</key>
	<dict>
		<key>entries</key>
		<array>
			<dict>
				<key>duration_mins</key>
				<integer>480</integer>
				<key>start</key>
				<dict>
					<key>hour</key>
					<integer>22</integer>
					<key>minute</key>
					<integer>40</integer>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
