<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>DaysTillExpiration</key>
    <integer>14</integer>
    <key>LocalAdminAccount</key>
    <string>%LOCAL_ADMIN_ACCOUNT%</string>
    <key>PasswordLength</key>
    <integer>14</integer>
    <key>RemovePassChars</key>
    <string>{}[]|</string>
    <key>Method</key>
    <string>Local</string>
    <key>FirstPass</key>
    <string>%FIRST_PASSWORD%</string>
</dict>
</plist>