<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>ErrorMessage</key>
        <string>Could not complete your request. Please contact your administrator.</string>
        <key>FirstRowLinkLeft</key>
        <string>https://ethz.ch/services/en/it-services/service-desk.html</string>
        <key>FirstRowLinkRight</key>
        <string>com.jamfsoftware.selfservice.mac</string>
        <key>FirstRowSubtitleLeft</key>
        <string>Visit the ITS Services Desk</string>
        <key>FirstRowSymbolLeft</key>
        <string>questionmark.circle.fill</string>
        <key>FirstRowTitleLeft</key>
        <string>Service Desk</string>
        <key>FirstRowTitleRight</key>
        <string>ETH Self Service</string>
        <key>FirstRowTypeLeft</key>
        <string>URL</string>
        <key>FirstRowTypeRight</key>
        <string>App</string>
        <key>HideFirstRow</key>
        <false/>
        <key>HideSecondRow</key>
        <false/>
        <key>Logo</key>
        <string>/Library/Management/ETH/SupportApp/ETH.png</string>
        <key>SecondRowTitleLeft</key>
        <string>Support Ticket</string>
        <key>SecondRowSubtitleLeft</key>
        <string>Open the ETH Service Desk support site</string>
        <key>SecondRowTypeLeft</key>
        <string>URL</string>
        <key>SecondRowLinkLeft</key>
        <string>http://smartdesk.ethz.ch/</string>
        <key>SecondRowTitleMiddle</key>
        <string>Check in</string>
        <key>SecondRowSubtitleMiddle</key>
        <string>Check in with the ETH Mac Management Service</string>
        <key>SecondRowTypeMiddle</key>
        <string>Command</string>
        <key>SecondRowLinkMiddle</key>
        <string>/usr/local/bin/jamf policy</string>
        <key>SecondRowSymbolRight</key>
        <string>lock.open</string>
        <key>SecondRowTitleRight</key>
        <string>Get Admin Rights</string>
        <key>SecondRowSubtitleRight</key>
        <string>Click to request admin rights</string>
        <key>SecondRowTypeRight</key>
        <string>App</string>
        <key>SecondRowLinkRight</key>
        <string>corp.sap.privileges</string>
        <key>StatusBarIconNotifierEnabled</key>
        <true/>
        <key>Title</key>
        <string>ETH Support</string>
    </dict>
</plist>
