<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>AutoUpdateState</key>
        <string>Manual</string>
        <key>AutoLaunchAppOnRestart</key>
        <false/>
        <key>CEIPEnabled</key>
        <false/>
        <key>StoreURLs</key>
        <array>
            <string>%CITRIX_SERVER_URL%</string>
        </array>
    </dict>
</plist>